body {
  font-family: "Alef", sans-serif;
}

header,
footer {
  background-color: #bdbdbdbf;
}

h1 {
  width: 80%;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
}
section {
  padding: 10px;
}

.titulo {
  width: 100%;
  margin: auto;
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

.contenidoweb {
  width: 1200px;
  margin: auto;
}

.box-content {
  display: flex;
  justify-content: space-around;
  border-top: #bdbdbdbf 5px solid;
  margin-top: 10px;
}

.menu {
  width: 30%;
  border-right: #bdbdbdbf 5px solid;
}

.menu ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.menu ul li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu ul li:hover {
  color: black;
}

.content {
  width: 70%;
}

.flex-container-a {
  display: flex;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-b {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-c {
  display: flex;
  justify-content: flex-end;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-d {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-f {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-g {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-h {
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-i {
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-j {
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-k {
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-l {
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-m {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-n {
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-o {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.flex-container-p {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: burlywood;
  padding: 10px;
  border: 2px solid black;
}

.bloque {
  background-color: gainsboro;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 2px solid black;
}

h3 {
  padding: 10px;
  margin: 0px;
}

footer {
  width: 100%;
}

.flechas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.arrow {
  border: 1px solid red;
  width: 30%;
  margin: 10px;
}
